#logo{
    width: 50%;
}
p{
    margin-bottom: 10%;
}
a {
  text-decoration: none;
}

a:hover {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#alert{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:400px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#heading {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

.form-group{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    width: 400px;
}
#btn{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    width: 400px;
    text-align: center;
}

h3{
    display: block;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    width: 400px;
    text-align: center;
}

.icon{
    margin-left: auto;
    margin-right: auto;
    width:20%;
}

.item{
    text-align: center;
}
.quantity{
    text-align: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width:50%;
}
.si-unit{
    text-align: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width:50%;
}

#myInput {
  background-image: url('https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/search-512.png'); /* Add a search icon to input */
  background-position: 10px 12px; /* Position the search icon */
  background-size: 25px;
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 100%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
}

#myTable {
  border-collapse: collapse; /* Collapse borders */
  width: 100%; /* Full-width */
  border: 1px solid #ddd; /* Add a grey border */
  font-size: 18px; /* Increase font-size */
}

#myTable th, #myTable td {
  text-align: left; /* Left-align text */
  padding: 12px; /* Add padding */
}

#myTable tr {
  /* Add a bottom border to all table rows */
  border-bottom: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {
  /* Add a grey background color to the table header and on hover */
  background-color: #f1f1f1;
}